$light: #fff;
$primary-color: #223a66;
$secondary-color: #e12454;
$base-color: #3d5061;
$title-color: #223a66;
$black: rgb(255, 255, 255);
$blue: #223a66;
$gray: #595959;
$secondary-bg: #f4f9fc;
$border-color: #9e5555;
$primary-font: 'Exo', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$grad-color: linear-gradient(to bottom, #05a5f9, #10dab7);
