.bg-1 {
    background: url('../images/bg/22.jpg') no-repeat 50% 50%;
    background-size: cover;
    position: relative;
}

.bg-2 {
    background: url('../images/bg/resources.png') no-repeat 50% 50%;
    background-size: cover;
    position: relative;
}
