.cube {
    position: relative;
}

.cube__face {
    border: 0.1px solid rgb(234, 234, 234);
    text-align: center;
    min-height: 270px;
    max-height: 500px;
    padding: 16px;
    margin-top: 25px;
}

label {
    margin-right: 10px;
}

.middle {
    background-color: #4462a3;
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

.cube:hover .middle {
    opacity: 1;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.cube-item-name {
    font-size: 17px;
    color: $primary-color;
}
.cube-item-description {
    font-size: 13px;
    color: $gray;
}
