#page-content {
    position: relative;
    min-height: 100vh;
}

@media (max-width: 992px) {
    .navbar .navbar-nav {
        display: inline-block;
        vertical-align: top;
        text-align: center;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .nav-item .active {
        padding-right: 15px;
    }
}
