//HOVER EFFECT 5
.hovereffect {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay-img {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.hovereffect .overlay-img {
    background-color: rgba(0, 102, 191, 0.6);
}

.hovereffect:hover .overlay-img {
    background-color: rgba(0, 102, 191, 0.3);
}

.hovereffect img {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.hovereffect:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.hovereffect {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 19px;
    padding: 10px;
}

.hovereffect a.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    width: 90%;
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
}

a.center:hover {
    border: 1px solid white;
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

//   HOVER EFFECT 11

.hovereffect11 {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background-color: rgba(197, 191, 176, 0.664);
}

.hovereffect11 .effect-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.4em;
    width: 100%;
    height: auto;
}

.hovereffect11 .overlay-img {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 3em;
    text-align: left;
    background-color: rgba(0, 102, 191, 0.6);
}

.hovereffect11 img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 75px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
}

.hovereffect11 h2 {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    font-size: 17px;
    background-color: transparent;
    padding: 15% 0 10px 0;
    text-align: left;
}

.hovereffect11 .overlay-img:before {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    content: '';
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
}

.hovereffect11 a,
.hovereffect11 p {
    color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
}

.hovereffect11:hover img {
    opacity: 0.6;
    filter: alpha(opacity=60);
    -webkit-transform: translate3d(-15px, 0, 0);
    transform: translate3d(-15px, 0, 0);
}

.hovereffect11:hover .overlay-img {
    opacity: 0;
    transition: opacity 0.45s ease-in-out;
}
