#navbarmain {
    padding: 20px 0px;

    .nav-link {
        font-weight: 600;
        padding: 10px 15px;
        color: $black;
        font-family: $primary-font;
        text-transform: capitalize;
        font-size: 14px;
        -webkit-transition: all 0.25s ease;
        -moz-transition: all 0.25s ease;
        -ms-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
    }
}

.dropdown-toggle::after {
    display: none;
}

.navbar-brand {
    margin-top: 0px;
    max-width: 150px;
}

ul {
    .dropdown-menu {
        li {
            display: block;
        }
    }
}

.dropdown {
    @media (max-width: 992px) {
        i {
            display: none;
        }
        .dropdown-menu {
            left: 0;
            right: 0px;
            visibility: hidden;
            background: transparent;
        }

        .dropdown-item {
            display: none;
        }

        .dropdown-item {
            float: left;
        }
        .mega-sub-menu {
            display: none;
        }
    }

    @media (min-width: 992px) {
        .dropdown-menu {
            position: absolute;
            display: block;
            background: $light;
            min-width: 240px;
            left: 0;
            right: 0px;
            opacity: 0;
            padding: 0px;
            visibility: hidden;
            -webkit-transition: all 0.3s ease-out 0s;
            -moz-transition: all 0.3s ease-out 0s;
            -ms-transition: all 0.3s ease-out 0s;
            -o-transition: all 0.3s ease-out 0s;
            transition: all 0.3s ease-out 0s;
            border: 0px;
            border-top: 5px solid #e12454;
            border-radius: 0px;
        }

        &:hover .dropdown-menu {
            -webkit-box-shadow: -2px 43px 72px -17px rgba(145, 145, 145, 0.75);
            -moz-box-shadow: -2px 43px 72px -17px rgba(145, 145, 145, 0.75);
            box-shadow: -2px 43px 72px -17px rgba(145, 145, 145, 0.75);
            opacity: 1;
            visibility: visible;
        }

        .dropdown-item {
            padding: 13px 20px;
            border-bottom: 1px solid #eee;
            background: transparent;
            font-weight: 400;
            color: #555;
            &:hover {
                color: $secondary-color;
            }
        }
    }
}

.header-top-bar {
    background: $primary-color;
    font-size: 11px;
    padding: 5px 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    color: $light;
}

.top-bar-info {
    li {
        a {
            color: $light;
            margin-right: 20px;
        }
    }
}

.top-right-bar {
    text-align: right;
    a {
        span {
            color: $light;
            font-weight: 100;
            padding: 5px;
        }
        i {
            color: $light;
            margin-right: 10px;
        }
    }
}

.navbar {
    padding: 0;
}

#navbar {
    background: rgb(2, 0, 36);
    background: linear-gradient(
        180deg,
        rgba(33, 71, 136, 1) 0%,
        rgba(32, 70, 135, 1) 0%,
        rgba(71, 101, 166, 1) 100%
    );
}

dt {
    margin-bottom: -1px;
    padding: 10px;
    padding-left: 10px;
    border: solid 0.5px lightgray;
    a {
        color: white;
        color: $blue;
    }
    a:focus,
    a:hover {
        color: $secondary-color;
        text-decoration: none;
    }

    &.active {
        background: #e12454;
        a {
            color: white;
        }
    }
}

dd {
    margin-bottom: -1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 5px;
    text-align: left;
    border: solid 0.5px lightgray;
    a {
        color: white;
        color: $blue;
    }
    a:focus,
    a:hover {
        color: $secondary-color;
        text-decoration: none;
    }
    &.active {
        background: #e12454;
        a {
            color: white;
        }
    }
}

@media (min-width: 992px) {
    .products-dropdown:hover {
        .mega-sub-menu {
            -webkit-box-shadow: -2px 43px 72px -17px rgba(145, 145, 145, 0.75);
            -moz-box-shadow: -2px 43px 72px -17px rgba(145, 145, 145, 0.75);
            box-shadow: -2px 43px 72px -17px rgba(145, 145, 145, 0.75);
            opacity: 1;
            visibility: visible;
            display: block;
        }
    }

    .mega-sub-menu {
        position: absolute;
        visibility: hidden;
        display: none;
        background: $light;
        width: 100%;
        left: 0;
        right: 0px;
        padding: 0px;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
        border: 0px;
        border-top: 5px solid #e12454;
        border-radius: 0px;

        ul {
            text-decoration: none;
            list-style-type: none;
            padding: 10px;
            a {
                padding-left: 0;
                color: #555;
                &:hover {
                    color: $secondary-color;
                }
            }
        }

        li {
            padding: 10px 10px;
            border-bottom: 1px solid #eee;
            background: transparent;
            font-weight: 400;
            color: #555;
            &:hover {
                color: $secondary-color;
            }

            a {
                padding-left: -5px;
            }
        }
    }
}
