.letter-spacing {
    letter-spacing: 2px;
}

.text-color {
    color: $primary-color;
}

.text-color-2 {
    color: $secondary-color;
}

.divider {
    width: 40px;
    height: 5px;
    background: $secondary-color;
}

@include mobile {
    .banner .block h1 {
        font-size: 38px;
        line-height: 50px;
    }

    .banner {
        min-height: 450px;
        background: $light !important;
    }
}

@include mobile-xs {
    .banner .block h1 {
        font-size: 28px;
        line-height: 40px;
    }

    .banner {
        min-height: 450px;
        background: $light !important;
    }
}

@include tablet {
    .banner .block h1 {
        font-size: 56px;
        line-height: 70px;
    }

    .banner {
        background: $light !important;
    }
}

@include desktop {
    .banner {
        background: $light !important;
    }
}

@include large-desktop {
    .banner {
        // background: $light!important;
    }
}
