<template>
    <a-layout-footer :style="{ textAlign: 'center' }">
        Ant Design ©2018 Created by Ant UED
    </a-layout-footer>
</template>

<script>
export default {
    name: 'AdminFooter'
};
</script>

<style scoped></style>
