.box-efect {
    height: 300px;
    width: auto;
    overflow: auto;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

input[type='checkbox'] {
    display: none;
}

label {
    border: 1px solid #fff;
    padding: 3px;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label::before {
    background-color: white;
    color: white;
    content: ' ';
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

label img {
    object-fit: cover;
    height: 100px;
    width: 100px;
    transition-duration: 0.2s;
}

:checked + label {
    border-color: #ddd;
}

:checked + label::before {
    content: '✓';
    background-color: rgb(27, 113, 234);
    transform: scale(0.7);
    z-index: 99;
}

:checked + label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -99;
}

.coverImage {
    object-fit: cover;
    height: 100px;
    width: 100px;
    margin: 5px;
}
